---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/quote?_id=5cdbe73516d496d2c2940848
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1649548767'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40-gA8mKIdcXV61xB2JVFodO20s4mc"
    body:
      encoding: UTF-8
      string: '{"docs":[],"total":0,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sat, 09 Apr 2022 23:58:58 GMT
recorded_with: VCR 3.0.3
