---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/character/5cdbe73516d496d2c2940848/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1649548767'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2-BkvfBrBDKx2kQctjlwqtr2WyCak"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebccedc6","dialog":"Yes, Mama.","movie":"5cd95395de30eff6ebccde5b","character":"5cdbe73516d496d2c2940848","id":"5cd96e05de30eff6ebccedc6"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sat, 09 Apr 2022 23:51:06 GMT
recorded_with: VCR 3.0.3
