---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie?_id=5cd95395de30eff6ebccde5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '1649548767'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11d-DbYQNDdo4QsSo98G5j4bXUIH3nM"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde5d","name":"The Return of the
        King","runtimeInMinutes":201,"budgetInMillions":94,"boxOfficeRevenueInMillions":1120,"academyAwardNominations":11,"academyAwardWins":11,"rottenTomatoesScore":95}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sat, 09 Apr 2022 23:55:36 GMT
recorded_with: VCR 3.0.3
