---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/quote?_id=5cd96e05de30eff6ebccebc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1649549967'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"211-ObTdYg4qarL6ZxdnbKwZ1o2295M"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebccebc2","dialog":"The enemy?,His
        sense of duty was no lessthan yours, I deem. You wonder what his name is......where
        he came from. And if he was really evil at heart. What lies or threats led
        himon this long march from home. If he would not rather have stayed there......in
        peace. War will make corpses of us all. Bind their hands.","movie":"5cd95395de30eff6ebccde5b","character":"5cd99d4bde30eff6ebccfcef","id":"5cd96e05de30eff6ebccebc2"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 10 Apr 2022 00:11:05 GMT
recorded_with: VCR 3.0.3
