---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/chapter?_id=6091b6d6d58360f988133bc4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1649548167'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad-YHd6haGIaxidff32jy9O9/n7bGA"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"6091b6d6d58360f988133bc4","chapterName":"The Steward
        and the King","book":"5cf58080b53e011a64671584"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sat, 09 Apr 2022 23:46:07 GMT
recorded_with: VCR 3.0.3
