---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/book?_id=5cf5805fb53e011a64671582
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1649545767'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-I7v5qLZewBm6kqSZlRMWqSKHi1k"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sat, 09 Apr 2022 23:05:32 GMT
recorded_with: VCR 3.0.3
